/********************************************************************

Project: Formee - http://wwwformee.org
Launched: 
Version: 3.1
Authors: Bernard De Luna - http://www.bernarddeluna.com
         Daniel Araujo - http://www.dnlaraujo.com.br
		 Marcello Manso - http://www.marcellomanso.com.br

********************************************************************
Structure
********************************************************************/

/* Little CSS Reset to preserv form structure */

/* fix  ff bugs */
form:after, form div:after, form ol:after, form ul:after, form li:after, form dl:after {
	content:".";
	display:block;
	clear:both;
	visibility:hidden;
	height:0;
	overflow:hidden;
}

/* Form Structure */
form {
	margin:0;
	padding:0;
}
	fieldset {
		border: 0;
		position: relative;
		height:100%;
		padding: 0;
		margin: 0 0 $contentBottomSpace;
		background: none;
	}
	legend {
		margin-left:1%;
		margin-right:1%;
		padding: 0.5% 0.5% 0.8%;
		line-height:1.2em;
		letter-spacing: -.035em;
		color:#2b2b2b;
		font-weight: normal;
	}
	.form-lbl, label {
		display: block;
		height: auto;
		margin: 0.5em 0;
		color:#2b2b2b;
		line-height: 1.3em;
		vertical-align:middle;
	}
	.form-txt, input[type="text"], input[type="password"], input[type="email"], input[type="file"], textarea, select {
		vertical-align: middle;
		line-height: 1.1em;
		width: 100%;
		padding:10px;
		border-style: solid;
		border-width: 1px;
	}
	textarea {
		height: 10em;
	}
	select {
		padding:9px;
		height:2.7em;
		border-color:#c6c6c6 #dadada #eaeaea;
		background: #fafafa;
		color:#999;
	}

/* form elements  */
.formee-req:after {
	content: "*";
	position: relative;
	top:3px;
	font-weight: bold;
	font-style:normal;
	color:#d10000;
	line-height: .85em;
}

.form-msg-info, .form-msg-warning, .form-msg-error, .form-msg-success, .wpcf7-validation-errors, .wpcf7-not-valid-tip, .wpcf7-mail-sent-ok {
	padding:20px 20px 15px 38px;
	border: 1px solid #ccc;
	display: block;
	height: auto;
	margin: 2% 0;
	clear:both;
}
.form-msg-info li, .form-msg-warning li, .form-msg-error li, .form-msg-success li {
	list-style: none;
	padding:0;	
	margin-bottom: .4%;
	font-size:1.4em;
	line-height:1.1em;
	vertical-align: top;
}


/* form button  */
.form-button, form input[type="submit"], form input[type="button"], form input[type="reset"] {
	padding:8px 15px 9px;
	cursor: pointer;
	text-align: center;
	display:inline-block;
	border:1px solid #D4D4D4;
}

/* lista de chk e rdo */
.form-list {
	height: 100%;
	list-style: none;
	padding:0;
	margin:0;
	li {
		margin: 0.5em 0.6em 0.8em;
		float:left;
		display: inline-block;
		list-style:none;
	}
	input {
		margin-right: 0.2em
	}
	.form-lbl, label {
		display: inline;
		height: auto;
		margin: 0.5em 0 0.8em 2px;
	}
}

/* form elements  */
form .form-txt, form input[type="text"], form input[type="password"], form input[type="email"], form input[type="file"], form textarea, form select {
	border-color:#c6c6c6 #dadada #eaeaea;
	background: #fafafa;
	color:#999;
	border-radius: 4px;
}
form .form-txt:hover, form input[type="text"]:hover, form input[type="password"]:hover, form input[type="file"]:hover, form textarea:hover, form select:hover {
	color:#666;
	background: #fff none;
	border-color:#c6c6c6;
}
form .form-txt:focus, form input[type="text"]:focus, form input[type="password"]:focus, form input[type="file"]:focus, form textarea:focus, form select:focus  {
	color:#333;
	background: #fff none;
	border-color:#659ec9 #70aedd #a8cfec;
	outline: 0;
}

/* form msg status  */
.form-msg-info, .form-msg-warning, .form-msg-error, .form-msg-success, .wpcf7-validation-errors, .wpcf7-not-valid-tip, .wpcf7-mail-sent-ok {
	color:#2b2b2b;
	border-radius: 4px;
}
.form-msg-info h3, .form-msg-warning h3, .form-msg-error h3, .form-msg-success h3, .wpcf7-validation-errors h3, .wpcf7-not-valid-tip h3, .wpcf7-mail-sent-ok h3 {
	line-height:1.1em;
	letter-spacing:-.02em;
	padding:0;
	margin:0 0 .3em 0;
}
.form-msg-info {
	background: #d1ecf7 url(img/form-ic-info.png) no-repeat 12px 50%;
	border-color:#bcdfef;
}
.form-msg-warning, .wpcf7-validation-errors {
	background: #fff6bf url(img/form-ic-warning.png) no-repeat 12px 50%;
	border-color:#fceb77;
}
.form-msg-error, .wpcf7-not-valid-tip {
	background: #fad0d0 url(img/form-ic-error.png) no-repeat 12px 50%;
	border-color:#f6abab;
}
.form-msg-success, .wpcf7-mail-sent-ok {
	background: #e5f8ce url(img/form-ic-success.png) no-repeat 12px 50%;
	border-color:#d0f1a6;
}

.form-msg-success strong, .form-msg-success a, .wpcf7-mail-sent-ok a, .wpcf7-mail-sent-ok strong {color:#62b548;}
.form-msg-info strong, .form-msg-info a {color:#11689e;}
.form-msg-warning strong, .form-msg-warning a, .wpcf7-not-valid-tip a, .wpcf7-not-valid-tip strong {color:#957210;}
.form-msg-error strong, .form-msg-error a, .wpcf7-validation-errors a, .wpcf7-validation-errors strong {color:#b01717;}

/* form validation */
.formee-error {
	border-color: #FAD0D0 !important;
	color: #b01717 !important;
}

/* form buttons */
.form-button, form input[type="submit"], form input[type="button"], form input[type="reset"] {
	line-height:1.4em;
	letter-spacing: -.015em;
	color:#fff;
	background:$secondary;
	/* gradient */
	border-radius: 7px;
	border: 2px solid #fff;
	font-weight: normal;
	font-size: 13px;
	margin: 15px 0 0 0;
	@include background-image(linear-gradient(lighten($secondary, 15%), $secondary));
	@include box-shadow(#999 0 0 5px 1px);
	&:hover, &:focus {
		@include background-image(linear-gradient(lighten($primary, 15%), $primary));
	}

}