//width + padding = size_of_box
//basically reverting back to quirks mode box model

@import "compass/css3/box-sizing";
* {
	@include box-sizing(border-box);
}

$pad: 2%;

.row {
	background: green;
	margin: 0 0 $pad 0;
	
	&:after {
		/* Or @extend clearfix */
		content: "";
		display: table;
		clear: both;
	}
}

[class*='col-'] {
	float: left;
	padding-right: $pad;
	.row &:last-of-type {
		padding-right: 0;
	}
}

//.cols
.col-1 { width: percentage(1/12); }
.col-2 { width: percentage(2/12); }
.col-3 { width: percentage(3/12); }
.col-4 { width: percentage(4/12); }
.col-5 { width: percentage(5/12); }
.col-6 { width: percentage(6/12); }
.col-7 { width: percentage(7/12); }
.col-8 { width: percentage(8/12); }
.col-9 { width: percentage(9/12); }
.col-10 { width: percentage(10/12); }
.col-11 { width: percentage(11/12); }
.col-12 { width: percentage(12/12); }

@media (max-width: 500px) {
	[class*='col-'] {
		padding-right: 0;
		width: 100%;
		padding-bottom: 10px;
	}
}

/* Opt-in outside padding */
.row-pad {
	padding: $pad 0 $pad $pad;
	[class*='col-']:last-of-type {
		padding-right: $pad;
	}
}