//width + padding = size_of_box
//basically reverting back to quirks mode box model

* {
	@include box-sizing(border-box);
}

.wrap {
	@extend .clearfix;
}
.container {
	margin: 0 auto;
	max-width: $gridMaxPageWidth;
	@extend .clearfix;
	padding: 0 10px;
}

.row {
	//margin: 0 auto $gridBottomSpace;
	margin: 0 auto;
	max-width: $gridMaxPageWidth;
	padding: 0 10px;
	
	&:after {
		@extend .clearfix;
	}
	.row {
		padding: 0;
		margin-right: -$gridSideSpace;
	}
}

[class*='col-'] {
	float: left;
	padding-right: $gridSideSpace;
	.row &:last-of-type, &.col-last {
		padding-right: 0;
	}
}

//.cols
.col-1 { width: percentage(1/12); }
.col-2 { width: percentage(2/12); }
.col-3 { width: percentage(3/12); }
.col-4 { width: percentage(4/12); }
.col-5 { width: percentage(5/12); }
.col-6 { width: percentage(6/12); }
.col-7 { width: percentage(7/12); }
.col-8 { width: percentage(8/12); }
.col-9 { width: percentage(9/12); }
.col-10 { width: percentage(10/12); }
.col-11 { width: percentage(11/12); }
.col-12 { width: percentage(12/12); }

/* Opt-in outside padding */
.row-pad {
	padding: $gridPaddedRowSpace 0 $gridPaddedRowSpace $gridPaddedRowSpace;
	[class*='col-']:last-of-type {
		padding-right: $gridPaddedRowSpace;
	}
}
.well {
	border-radius: $wellBorderRadius;
	border: 1px solid $wellBorderColor;
	background: $wellBackgroundColor;
	padding: $wellPadding;
	margin-bottom: $gridBottomSpace;
}