//Right now these are set up for Desktop First design. Feel free to change to Mobile first.

@media (max-width: $breakPointLarge) {

}
@media (max-width: $breakPointMedium) {

}
@media (max-width: $breakPointMedium) {
	[class*='col-'] {
		padding-right: 0;
		width: 100%;
		margin-bottom: 10px;
	}
}