/*
 * Colors
 */ 

$primary: blue;
$secondary: green;

/*
 * Grid
 */ 

$gridBottomSpace: 2%;
$gridSideSpace: 2%;
$gridPaddedRowSpace: 2%;

/*
 * Typography
 */

$mainFont: 'Arial';
$monospaceFont: 'Georgia', monospace;

/*
 * dl, menu, ol, ul
 */

$contentBottomSpace: 1em;

/*
 * ul, ol,
 */

$contentSideSpace: 40px;

/*
 * Spacing under headers
 */

$contentHeaderBottomSpace: .5em;