/*
 * Colors
 */ 

$primary: #00304a;
$secondary: #ff9100;
$mainColorType: #666;

/*
 * Grid
 */ 

$gridBottomSpace: 15px;
$gridSideSpace: 15px;
$gridPaddedRowSpace: 15px;
$gridMaxPageWidth: 1000px;

/*
 * Wells
 */

$wellBorderColor: #dfdfdf;
$wellBorderRadius: 4px;
$wellBackgroundColor: #fff;
$wellPadding: 15px;
//pagination
$paginationBaseLineHeight: 18px;

$breakPointSmall: 400px;
$breakPointMedium: 650px;
$breakPointLarge: 960px;
/*
 * Typography
 */

$mainFont: Tahoma, Verdana, Segoe, sans-serif;
// If using Open Sans via Google Fonts, uncomment line below
//$mainFont: 'Open Sans', sans-serif;
// NOTE: Use font-weight: 700; and font-weight: 400; instead of "bold" and "normal".

$monospaceFont: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

/*
 * dl, menu, ol, ul
 */

$contentBottomSpace: 1em;

/*
 * ul, ol,
 */

$contentSideSpace: 40px;

/*
 * Spacing under headers
 */

$contentHeaderBottomSpace: .5em;