/*
 * Colors
 */ 

$primary: #006666;
$secondary: #cc6600;
$mainColorType: #666;

/*
 * Grid
 */ 

$gridBottomSpace: 2%;
$gridSideSpace: 3%;
$gridPaddedRowSpace: 2%;

/*
 * Typography
 */

$mainFont: Tahoma, Verdana, Segoe, sans-serif;
// If using Open Sans via Google Fonts, uncomment line below
// $mainFont: 'Open Sans', sans-serif;
// NOTE: Use font-weight: 700; and font-weight: 300; instead of "bold" and "normal".

$monospaceFont: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

/*
 * dl, menu, ol, ul
 */

$contentBottomSpace: 1em;

/*
 * ul, ol,
 */

$contentSideSpace: 40px;

/*
 * Spacing under headers
 */

$contentHeaderBottomSpace: .5em;